a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(250, 249, 249);
  color: red;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.contain{
  background: #ffff;
  width: 100%;
  height: 170px;
  margin-top: 50px;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.first-span{
  font-size: 2rem;
}
.contain button{
  width: 75px;
  height: 50px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(lightblue, purple);
}
.btn-div{
  display: flex;
  gap: 1rem;
  justify-content: center;
}